USE [master]
GO
/****** Object:  Database [BukuDB]    Script Date: 13/10/2021 12.10.33 ******/
CREATE DATABASE [BukuDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TokoBukuDB', FILENAME = N'E:\Installation\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TokoBukuDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TokoBukuDB_log', FILENAME = N'E:\Installation\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TokoBukuDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BukuDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BukuDB]
GO
/****** Object:  Table [dbo].[Bukus]    Script Date: 13/10/2021 12.10.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bukus](
	[IdBuku] [int] IDENTITY(1,1) NOT NULL,
	[Judul] [nvarchar](250) NULL,
	[Tahun] [int] NULL,
	[IdPenerbit] [int] NULL,
	[IdPenulis] [int] NULL,
 CONSTRAINT [PK_Bukus] PRIMARY KEY CLUSTERED 
(
	[IdBuku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peminjamans]    Script Date: 13/10/2021 12.10.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peminjamans](
	[IdPeminjaman] [int] IDENTITY(1,1) NOT NULL,
	[IdBuku] [int] NULL,
	[NamaPeminjam] [nvarchar](50) NULL,
	[JudulBuku] [nvarchar](250) NULL,
	[IsPengembalian] [int] NULL,
 CONSTRAINT [PK_Pinjams] PRIMARY KEY CLUSTERED 
(
	[IdPeminjaman] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penerbits]    Script Date: 13/10/2021 12.10.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penerbits](
	[IdPenerbit] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](250) NULL,
	[Alamat] [nvarchar](50) NULL,
	[NoTelp] [nvarchar](20) NULL,
 CONSTRAINT [PK_Penerbits] PRIMARY KEY CLUSTERED 
(
	[IdPenerbit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penuliss]    Script Date: 13/10/2021 12.10.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penuliss](
	[IdPenulis] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](250) NULL,
	[Gender] [nvarchar](10) NULL,
	[NoTelp] [nvarchar](20) NULL,
 CONSTRAINT [PK_Penuliss] PRIMARY KEY CLUSTERED 
(
	[IdPenulis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/10/2021 12.10.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bukus]  WITH CHECK ADD  CONSTRAINT [FK_Bukus_Penerbits] FOREIGN KEY([IdPenerbit])
REFERENCES [dbo].[Penerbits] ([IdPenerbit])
GO
ALTER TABLE [dbo].[Bukus] CHECK CONSTRAINT [FK_Bukus_Penerbits]
GO
ALTER TABLE [dbo].[Bukus]  WITH CHECK ADD  CONSTRAINT [FK_Bukus_Penuliss] FOREIGN KEY([IdPenulis])
REFERENCES [dbo].[Penuliss] ([IdPenulis])
GO
ALTER TABLE [dbo].[Bukus] CHECK CONSTRAINT [FK_Bukus_Penuliss]
GO
ALTER TABLE [dbo].[Peminjamans]  WITH CHECK ADD  CONSTRAINT [FK_Peminjamans_Bukus] FOREIGN KEY([IdBuku])
REFERENCES [dbo].[Bukus] ([IdBuku])
GO
ALTER TABLE [dbo].[Peminjamans] CHECK CONSTRAINT [FK_Peminjamans_Bukus]
GO
USE [master]
GO
