@model Perpustakaan.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5 ">
                <div class="card-header text-white bg-dark"><h3 class="text-center font-weight-light my-4 ">Login</h3></div>
                <div class="card-body">
                    <form asp-action="Index" method="post">
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            <label for="inputEmail">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            <label for="inputPassword">Password</label>
                        </div>
                        <div class="mt-4 mb-0">
                            <div class="d-grid">
                                <input class="btn btn-dark" type="submit" value="Login" name="login" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small col-md-12"><a asp-area="" asp-controller="Login" asp-action="Regis">Need an account? Sign up!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

